.divinity {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.divinity-selection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #BEBFC1;
  background-image: linear-gradient(to bottom right, #676767 60%, #a6a6a6);
  border-radius: 8px;
  padding: 1em;
}

.divinity-selection > img {
  height: 20em;
}

.divinity-input {
  width: 5em;
  height: 5em;
  text-align: center;
  border-radius: 4px;
  background-color: #303030;
}
