.civilian > * {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.civilian-btn {
  background-color: #007EC3;
  background-image: linear-gradient(to bottom right, #007EC3 60%, #03486d);
}

.civilian > div.total-civilian-points {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5em;
  min-height: 5.0em;
}

.civilian > div.total-civilian-points > button {
  height: 3.0em;
}

.civilian > div.add-civilian-points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.civilian > div.add-civilian-points > button {
  padding: 1.0em 1.0em;
}
