.civilian > div.add-civilian-points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.civilian > div.add-civilian-points > button {
  padding: 1.0em 1.0em;
  background-color: #007EC3;
  background-image: linear-gradient(to bottom right, #007EC3 60%, #03486d);
}
