.results-table {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.results-table td {
  padding: 1em;
}

.results-table > table > tbody > tr:nth-child(even) {
  background-color: #343434;
}

.results-table > table > tbody > tr:nth-child(odd) {
  background-color: #141414;
}

.total-winner {
  background-color: #007a45;
}
