.coin {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.coin:active {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.coin-buttons {
  padding: 1.0em 0;
}

.coin.one-coin {
  height: 4.5em;
}

.coin.three-coin {
  height: 5.2em;
}

.coin.six-coin {
  height: 5.3em;
}