.base-game-image {
  height: 15em;
}

.select-expansion-container {
  position: relative;
}

.expansions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.expansion-image {
  height: 30em;
}

.disabled-expansion {
  opacity: 0.2;
}
