.guild-base-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5em;
}

.guild-score-container {
  background-color: #835E9B;
  background-image: linear-gradient(to bottom right, #835E9B 40%, #493557);
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  width: 40%;
}

.guild-score-container > input {
  width: 3em;
  height: 3em;
  text-align: center;
  border-radius: 4px;
  background-color: #493557;
}

.guild-icon {
  height: 4em;
}

.builder-guild-icon {
  height: 3.5em;
}
