.progress-score {
  display: flex;
  flex-flow: column nowrap;
}

.progress-score-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-score-row > img {
  height: 7em;
}

.progress-score-row > input {
  width: 5em;
  height: 5em;
}
