:root {
  --maximum-width: 30em;
}


#root {
  max-width: var(--maximum-width);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-change {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
